<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'login.css')}}">
    <title>Document</title>
    
</head>
<body>
     <nav class="navbar">
    <div class="logo-container">
      <img src="{{ url_for('static', filename='image/logo.png') }}" alt="VISIONEASE Logo" class="logo">
    </div>
    <ul class="nav-menu">
      <li><a href="{{ url_for('login_page') }}">HOME</a></li>
    </ul>
  </nav>
        <div class="content">
            <div class="notes-content">
                <h1>Ophthalmology Healthcare System:</h1>
                <h2>Digital platform for appointment scheduling and patient management</h2>
                <p>Experience the benefits of Ophthalmology Healthcare and transform the way you deliver eye care services. Our platform is designed to improve patient outcomes, enhance efficiency, and increase accessibility. Join us in revolutionizing eye care.</p>
            </div>
                <form action="/forgot_password" method="post">
                <div class="form">
                <h3 style="text-align: center; font-size: 30px;">Reset Password</h3>

                <input type="email" name="email" placeholder="Your Email" required autocomplete="email" />
                <input type="password" name="new_password" placeholder="New Password" required autocomplete="new-password" />

                <button class= "up_btn" type="submit">Update Password</button>
                </div>
                </form>

           {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
            <div class="flash-message-container">
              {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
              {% endif %}
            {% endwith %}
                </div>
        </main>
    
</body>
</html>