<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'home.css')}}">
</head>
<body>
    <header>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">DHMS</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#" title="home">HOME</a></li>
                    <li><a href="#Services" title="services">SERVICE</a></li>
                    <li><a href="{{url_for('profile_page')}}" title="profile">PROFILE</a></li>
                    <li><a href="{{url_for('signup_process')}}" title="logout">LOGOUT</a></li>
                </ul>
            </div>
    </div>
</header>
 <main>
         <section id="About Us">
            <h1 style= "text-align: center; padding: 20px; color: #338fc2; margin-top: 50px; box-shadow:0px 2px 4px rgba(0,0,0,0.2);">About Us</h1>
            <div class="about-content">
             </section> 
             <section id=Services>
                  <h1 style="color: #338fc2; text-align: center; padding: 20px; box-shadow:0px 2px 4px rgba(0,0,0,0.2);">Feature</h1>
                  <div class="feature-container">
             </section>
        </main>
</body>
</html>