<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'home.css')}}">
</head>
<body>
    <nav>
        <ul>
                    <li><a href="#" title="home">HOME</a></li>
                    <li><a href="#About Us" title="aboutUs">ABOUT US</a></li>
                    <li><a href="{{ url_for('service_page') }}" title="services">SERVICE</a></li>
                    <li><a href="#" title="contact">CONTACT</a></li>
                </ul>    
    </nav>
        <div class="content">
            <h1>PWDs<br><span>Health</span> <br>Care</h1>
            <p class="par">The PWD System is an integrated platform designed to efficiently manage
                <br> records, services, and benefits for Persons With Disabilities.
                <br> It streamlines registration, verification, and access to assistance, ensuring
                <br>transparency, inclusivity, and improved service delivery for both beneficiaries and service providers
            </p>
        </div>
</body>
</html>