<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'design.css')}}">
</head>
<body>
    <nav class="navbar">
    <div class="logo-container">
      <img src="{{ url_for('static', filename='image/logo.png') }}" alt="VISIONEASE Logo" class="logo">
    </div>
    <ul class="nav-menu">
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">SERVICE</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </nav>

        <div class="content">
            <h1>PWDs<br><span>Health</span> <br>Care</h1>
            <p class="par">The PWD System is an integrated platform designed to efficiently manage
                <br> records, services, and benefits for Persons With Disabilities.
                <br> It streamlines registration, verification, and access to assistance, ensuring
                <br>transparency, inclusivity, and improved service delivery for both beneficiaries and service providers
            </p>

                <form action="/SignUp" method="post" autocomplete="off">
                <div class="form">
                <h3 style="text-align: center; font-size: 30px;">SignUp</h3>

                <input type="text" name="name" placeholder="Your Name" required autocomplete="off" />

                <input type="email" name="email" placeholder="Your Email" required autocomplete="off" />

                <input type="password" name="password" placeholder="Password" required autocomplete="off" />

                <button class="signup_btn" type="submit">SignUp</a></button>

                <p class="statement">
                    Have already an account? 
                <a href="{{url_for('login_page')}}"><u>Login here</u></a>
        </p>
    </div>
</form>


        </div>
</header>
</body>
</html>